apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: nginx
data:
  nginx.conf: |
    worker_processes auto;
    worker_cpu_affinity auto;
    worker_rlimit_nofile 1000000;
    events {
        worker_connections 6144;
        use epoll;
        multi_accept on;
    }
    http {
        access_log off;
        sendfile on;
        tcp_nopush on;
        tcp_nodelay on;
        keepalive_timeout 65;
        server {
            listen 80;
            location / {
                return 200 '{"message":"nginx response","timestamp":"$time_iso8601","server":"$hostname","request_uri":"$request_uri"}';
                add_header Content-Type application/json;
            }
        }
    }
